.login__container{
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    background-image: url(../../public/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    &__card{
        @include card();
        margin-bottom: 50px !important;
        height: fit-content;

        h1{
            font-size: 26px;
        }
    
        &__input{
            margin-bottom: 30px!important;
        }

        p{
            margin-top: 1rem;
            font-size: 1.4rem;
        }

        &__link{
            color: $pink;
            margin-left: 5px;
        }
    }
}