.services{
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    background: $white;

    &__container{
        width: 80%;
        background: $total-white;
        padding: 1rem 0 ;
        margin: 5rem auto;

        @include respond(phone){
            width: 95%;
        }

        @include respond(tab-port){
            width: 90%;
        }

        .services__title{
            font-size: 3rem;
            text-align: center;
            margin: 2rem 0 3rem;
            font-weight: 200;
            letter-spacing: .4rem;
        }

        .services__search{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .services__box{
                display: flex;
                justify-content: center;
                margin: 16px 24px;

                @include respond(small-phone){
                    flex-direction: column;
                }

                &__input{
                    border: .1rem solid $white-pink;
                    margin-left: 0;

                    @include respond(small-phone){
                        margin-bottom: .5rem;
                    }
                }
                input{
                    padding-left: 1.5rem;
                    // width: 100%;
                }
            }
            &__select{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .dz-fetes-select{
                    width: 20rem;
                    @include respond(phone){
                        width: 100%;
                    }
                }
            }
        }
        

        .services__list{
            display: flex;
            flex-wrap: wrap;
            margin: .5rem 0;

            h1{
                margin: 7rem auto;
                font-size: 3rem;
                color: $white-pink;
            }

            .container-product{
                flex: 0 0 33.33%;
                max-width: 33.33%;
                display: flex;

                @include respond(phone){
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .product{
                    width: 100%;
                    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
                    margin: 1.5rem;
                    display: flex;
                    flex-direction: column;

                    &:hover{
                        .product-img{
                            img{
                                transform: scale(1.05);
                            }
                        }
                        
                        h4{
                            text-decoration: underline;
                            text-decoration-color: $pink;
                            text-decoration-thickness: .2rem;
                        }
                    }

                    h4{
                        font-size: 2.5rem;
                        letter-spacing: .3rem;
                        margin-bottom: .5rem;
                        font-weight: 300;
                    }

                    h5{
                        font-size: 1.8rem;
                        margin: .5rem 0 1rem;
                        font-weight: 100;
                        line-height: 2.5rem;
                        height: 10rem;
                        overflow-y: hidden;
                    }

                    .product-foot{
                        padding: 0 1.5rem 1rem;
                        p{
                            font-size: 2rem;
                            letter-spacing: .3rem;
                            font-weight: 300;
                            margin-bottom: .6rem;
                        }
                        button{
                            margin-top: auto;
                            font-size: 1.5rem;
                            border-radius: 0;
                        }
                    }

                    .product-img{
                        overflow: hidden;
                        height: 25rem;
                        img {
                            display: block;
                            max-width: 100%;
                            aspect-ratio: 16 / 9;
                            object-fit: cover;
                            height: 100%;
                            margin-bottom: 1em;
                        }
                    }

                    .product-body {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        padding: .5rem 1.5rem 1rem;
                    }
                }
            }
        }
    }
}