$purple: #8785A2;
$white: #F6F6F6;
$total-white:#ffffff;
$white-pink: #FFE2E2;
$pink: #FFC7C7;

$color-grey: #95a5a6;
$color-primary: #9089f1;
$color-dark: #000000DE;
$color-hover: rgba(0, 0, 0, 0.04);

$linear-gradient: linear-gradient(to right, #8785a2, #aa99b2, #cab0c1, #e6c8d0, #ffe2e2);